
$my-danger : red;

@mixin  backgroundColor($bg : $my-danger) {
    background-color: $bg;
    font-size: 16px;
    border-radius:  50%;
}

.app-root{

    .hello {
        @include backgroundColor(blue);
        // background-color: $my-danger;

        font-size: hello(20);
    }

    .btn {
        @include backgroundColor(orange);
    }

    .btn-danger {
        @extend .btn;
    }
}

@function hello($fontAdd : 10) {
    @return 20px + fontAdd
}